@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    /* MAIN */
main{
  padding: 0px !important;
  margin: 0px !important;
}



.main-aside{
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  list-style: none;
  color: aquamarine;
  text-decoration: none ;
}

.main-aside li:hover{
  background-color: white;
  color: black;
}

.main-aside_item{
  background-color: black !important;
  text-align: center;
  margin: 0.5rem;
  padding: 3rem ;
  border-radius: 15px;
  width: 100% !important;
  height: 100% !important;
}


.main-aside_item-a{
  font-size: 1.2rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-aside_item a:hover{
  color: gold;
  text-decoration: none ;
}

</style>
<main>
    <section class="main-section">

      <aside class="aside">
        <ul class="main-aside">
          <li class="main-aside_item"><a class="main-aside_item-a" asp-area="" asp-page="#">Administrador</a></li>
          <li class="main-aside_item"><a class="main-aside_item-a" asp-area="" asp-page="#">Veterinario</a></li>
          <li class="main-aside_item"><a class="main-aside_item-a" asp-area="" asp-page="/Clientes/Cliente">Cliente</a></li>
          <li class="main-aside_item"><a class="main-aside_item-a" asp-area="" asp-page="#">Soporte</a></li>

        </ul>
      </aside>

      <section class="second-section">

      </section>

    </section>
  </main>

