@page
@model HappyPet.App.Frontend.Pages.Administrador.Historias.Crear.CrearHistoriaModel
@{
}
<style>
    .main-title{
        text-align: center;
        color: whitesmoke;
        background-color: black;
        border-radius: 15px;
        padding: 20px;
    }


    .section-form{
        display: flex;
        justify-content: center;
        margin:1rem ;
        padding: 1rem;
    }

    
    .form-form{
        width: 35%;
        background-color: aliceblue;
        border-radius: 1rem;
        padding: 1.5rem;

    }

    .boton-form{
        display: flex !important;
        justify-content: center !important;
    }

    .container-buttons{   
        width: auto;
        display: flex;
        justify-content:space-evenly;
        background-color: aliceblue !important;
        padding: 2rem;
    }

    .container-buttons a:hover{
        background-color: black !important;
        color: gold;
    }
    .container-buttons a:active{
        background-color: black !important;
    }

    .boton-form button:hover{
        background-color: black !important;
        color: gold;
    }

    .boton-form button:active{
        background-color: black !important;
    }


</style>

<main>

    <h1 class="main-title">Crear Historia<br></h1>
    <section class="section-form">
      <form class="form-form" method="post">

            <input type="hidden" asp-for="Historia.Id" />

             <div class="form-group">
                <strong><label asp-for="Historia.Visita.Id">Visita</label></strong>
                <select class="form-control" asp-for="VisitaSeleccionada"> 
                  <option label="Seleccionar" value="-1"></option>
                  @foreach (var item in Model.Visitas)
                  {
                    <option label="ID: @item.Id &nbsp;&nbsp; @item.Mascota.Nombre &nbsp;&nbsp; @item.FechaDeVisita" value="@item.Id"></option>   
                  }
                </select>
                <span class="text-danger" asp-validation-for="Historia.Visita.Id"></span>
            </div>

            <div class="form-group">
                <strong><label asp-for="Historia.Peso"></label></strong>
                <input asp-for="Historia.Peso" class="form-control">
                <span class="text-danger" asp-validation-for="Historia.Peso"></span>
            </div>

            <div class="form-group">
                <strong><label asp-for="Historia.Temperatura"></label></strong>
                <input asp-for="Historia.Temperatura" class="form-control">
                <span class="text-danger" asp-validation-for="Historia.Temperatura"></span>
            </div>

             <div class="form-group">
                <strong><label asp-for="Historia.FrecuenciaRespiratoria"></label></strong>
                <input asp-for="Historia.FrecuenciaRespiratoria" class="form-control">
                <span class="text-danger" asp-validation-for="Historia.FrecuenciaRespiratoria"></span>
            </div>

            <div class="form-group">
                <strong><label asp-for="Historia.FrecuenciaCardiaca"></label></strong>
                <input asp-for="Historia.FrecuenciaCardiaca" class="form-control">
                <span class="text-danger" asp-validation-for="Historia.FrecuenciaCardiaca"></span>
            </div>

            <div class="form-group">
                <strong><label asp-for="Historia.EstadoDeSalud"></label></strong>
                <input asp-for="Historia.EstadoDeSalud" class="form-control">
                <span class="text-danger" asp-validation-for="Historia.EstadoDeSalud"></span>
            </div>

            <div class="form-group">
                <strong><label asp-for="Historia.Obcervaciones"></label></strong>
                <input asp-for="Historia.Obcervaciones" class="form-control">
                <span class="text-danger" asp-validation-for="Historia.Obcervaciones"></span>
            </div>

            <div class="boton-form">
                <button type="submit" class="btn btn-primary">Guardar</button><br>
             </div> 
            
        </form>
        
    </section>


    <aside class="container-buttons">
            <a class="btn table-btn" asp-page="../Historia"><i class="fas fa-undo fa-lg"></i><br><b>Return</b></a>
            <a class="btn table-btn" asp-page="../Historia" ><i class="fas fa-eye fa-lg"></i><br><b>Ver Historia</b></a>
    </aside>
</main>