@page
@model HappyPet.App.Frontend.Pages.Clientes.Buscar.BuscarClienteModel
@{
}
<style>
    .main-title{
        text-align: center;
        color: whitesmoke;
        background-color: black;
        border-radius: 15px;
        padding: 20px;
    }

</style>

<h1 class="main-title">Formulario Buscar Cliente</h1>